.input-search {
  outline: none;
  border: none;
  font-size: 20px;
  background-color: #fbf8ff;
  padding-left: 20px;
  width: 85%;
}

.form-search{
  display: flex;
  background-color: #fbf8ff;
  border-radius: 40px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  border: 1px solid #d4d4d4;
}

.form-search > input:focus{
  border: 1px solid black;
}

.btn-search {
  background-color: #fbf8ff;
  color: #3c46ff;
  border: none;
  outline: none;
  margin: 5px;
  font-size: 20px;
  border-radius: 100%;
  padding: 5px 15px 5px 15px;
}
.btn-search:hover {
  color: #fbf8ff;
  background-color: #0000ff;
}

.btn-search:hover::before {
  display: none;
}
