.input-search {
  outline: none;
  border: none;
  font-size: 20px;
  background-color: #fbf8ff;
  width: 100%;
  margin-left: 10px;
}

.form-search{
  display: flex;
  background-color: #fbf8ff;
  border-radius: 40px;
  width: 100%;
  overflow: hidden;
  justify-content: space-between;
  outline: 1px solid #d4d4d4;
  padding: 6px 8px;
}

.form-search:has(input:focus){
  outline: 1px solid black;
}

.btn-search {
  display: flex;
  align-items: center;
  justify-items: center;
  /* background-color: #fbf8ff; */
  /* color: #3c46ff; */
  background-color: #FF385C;
  color: #fbf8ff;
  border: none;
  outline: none;
  /* border-radius: 40px; */
  /* padding: 10px 15px 10px 15px; */
  border-radius: 40px;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  transition: transform 0.15s ease-out;
}

.btn-search:hover {
  color: #fbf8ff;
  background: rgb(255, 0, 56);
  background: linear-gradient(149deg, rgba(255, 0, 56, 1) 0%, rgba(255, 0, 159, 1) 32%, rgba(255, 0, 56, 1) 100%);
}

.btn-search:active {
  transform: scale(.9);
}
