.product-block{
    display: flex;
    background: white;
    padding: 50px;
    border-radius: 5px;
    margin: 50px;
    border: 1px solid #e3e5e8;
}

.product-title{
    font-weight: 500;
    font-size: 2em;
}

.product-rating{
    border-radius: 5px;
}