.flex-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.titulo {
  font-weight: 500;
  margin-bottom: 1em;
  flex: 1 1 100%;
  justify-content: center;
}
