.flex-container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.recomendations{
  margin: 0 auto;
  max-width: 1500px;
}

.titulo {
  margin-bottom: 1em;
  flex: 1 1 100%;
  justify-content: center;
}

.titulo-font {
  font-weight: 500;
}