.flex-cart-product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.cart-product-img img{
    display: block;
    height: 75px;
    width: 150px;
    object-fit: cover !important;
}

.cart-product-name{
    margin-left: 15px;
}

.cart-product-title{
    font-weight: 600;
    font-size: 1em;
}

.cart-product-brand{
    font-size: 1em;
}