* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Noto Sans", sans-serif; */
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'Inter var', sans-serif;
  }
}

html {
  background-color: #fbf8ff;
}

:root {
  --main-bg-color: #3c46ff;
  --secondary-bg-color: #968ab6;
  --light-bg-color: #fbf8ff;
  --dark-bg-color: #1d1a27;
}
